$cWhite: white;
$cBlack: black;
$cBurlywood: #deb887;

#container {
  text-align: center;
}

.btn {
  background-color: $cWhite;
  color: $cBlack;
  border: 1px dotted $cBurlywood;
  padding: 10px 40px;
  margin: 10px 0;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.5s;

  &.float {
    &:hover {
      box-shadow: 3px 3px 0px 0px rgba(222, 184, 135, 0.5);
    }
  }

  // Scss では要素の内包ができ、 & は 親の要素を示している
  // 半角スペースを開けられる場合は & は保存できる
  // &:hover {
  //   background-color: $cBurlywood;
  //   color: $cWhite;
  // }
}
